# C extensions
*.so

# PyInstaller
*.manifest
*.spec

# Installer logs
pip-log.txt

# Jupyter Notebook
.ipynb_checkpoints

# IPython
profile_default/
ipython_config.py

# Environments
.env
.venv

checkpoint
my_logs
hw7
hw7-07

src/output

datasets
data/VOC